*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  // min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
 
* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

html,
body,
#root {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 4px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #43465a;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  overflow: hidden;
}

li {
  list-style: none;
}

.canvas{
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 20px;
  height: 60px;
  width: 100%;
  z-index: 200;
  color: #fff;
  font-size: 12px;
  h1 {
    font-size: 12px;
    float: left;
  }
  .nav {
    position: absolute;
    top: 30px;
    right: 20px;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
.text-lerge{
  font-size: 3.5rem;
}

.contents {
  // background: #43465a;
  background: rgba(67,70,90, .9);
  color: #fff;
  position: fixed;
  left: 0;
  padding: 20px;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.contents-inner {
  height: 100%;
  padding: 90px 0 0 0;
  border-radius: 2px;
  // max-width: 600px;
  margin: 0 auto;
}