$max-width: 960px;
// breakpoint
$sm: 600px;

$global-margin: 120px;
$global-padding: $global-margin;
$sm-global-margin: 20px;
$sm-global-padding: $sm-global-margin;
// $primary-color: #0f538f;
// $primary-color: #2b73b3;
$primary-color:  #d2cebc;
$secondary-color: #ffffff;
$small-margin: 5px;
$active-color:#fffebc;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  activeColor: $active-color;
}