// breakpoint
$sm: 600px;

$global-margin: 30px;
$global-padding: $global-margin;
$sm-global-margin: 20px;
$sm-global-pading: $sm-global-margin;
$primary-color: #43465a;

:export {
  primaryColor: $primary-color;
}