@import 'reset';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:400,700&display=swap');

html,
body,
#root {
  font-family: 'Hind Vadodara', sans-serif;
  scroll-behavior: smooth;
  letter-spacing: 2px;
  width: 100%;
  height: 100%;
  // background-color: $primary-color;
  // background: linear-gradient(45deg, rgba($primary-color,1) 0%, rgba(#093f6f,1) 100%);
  // background: radial-gradient(#e5dcbc, $primary-color 100%);

  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  overflow: hidden;
}
#main {
  background: radial-gradient($gradient-start-color, $primary-color 100%);
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.index-footer-text {
  position: relative;
  z-index: 10;
  bottom: 10%;
  line-height: 0.9rem;
  padding: 0 15px;
  letter-spacing: 2px;
  left: 0;
  text-align: center;
  font-size: 0.8rem;
  color: rgba($color: #ffffff, $alpha: 0.8);
}
.canvas {
  height: 100%;
}

////////////////////
// header
////////////////////
.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  height: 60px;
  width: 100%;
  z-index: 100;
  color: #fff;
  font-size: 12px;
  h1 {
    font-size: 12px;
    float: left;
  }
  .nav {
    position: absolute;
    top: $sm-global-margin;
    right: $sm-global-margin;
    li {
      float: left;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}
////////////////////
// loader
////////////////////
.loader-container {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient($gradient-start-color, $primary-color 100%);
  &__inner {
    padding: $sm-global-padding;
    .loader-img {
      width: 25px;
    }
  }
}

////////////////////
// scroll
////////////////////
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba($text-color, 0.4);
}

////////////////////
// contents
////////////////////
.contents {
  // background: #43465a;
  // margin-top: $global-margin / 2;
  background: $primary-color;
  // background: $secondary-color;
  color: $text-color;
  // color: rgba($color: #ffffff, $alpha: 1);
  position: fixed;
  left: 0;
  line-height: 2rem;
  z-index: 99;
  width: 100%;
  height: 100%;
  white-space: pre-line; // i18n
  .scroll-area {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  // inner
  &__inner {
    height: 100%;
    padding: $global-margin;
    max-width: $max-width;
    margin: 0 auto;
  }
  &__title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: $global-margin;
  }
  &__footer {
    margin-bottom: 30px;
    height: 30px;
    font-size: 0.7rem;
  }
  &__cover {
    margin-bottom: $global-margin;
    .message {
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2rem;
      span {
        font-size: 0.9rem;
        display: block;
        font-weight: normal;
        text-align: right;
      }
    }
  }
  .back-btn {
    position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    z-index: 20;
    bottom: 80px;
    right: 0px;
    font-size: 0.7rem;
    writing-mode: vertical-rl;
    padding: 35px 10px;
    background: $text-color;
    color: $primary-color;
    cursor: pointer;
  }
  // paragraph
  .paragraph {
    margin-bottom: $global-margin;
    &__title {
      font-size: 1rem;
      font-weight: bold;
      line-height: 1rem;
      margin-bottom: $global-margin / 5;
    }
    p,
    ul,
    dl {
      font-weight: normal;
      font-size: 0.9rem;
      line-height: 1.5rem;
    }
    p {
      margin-bottom: $global-margin / 4;
    }
    li {
      background: url(../images/list_box.png) no-repeat;
      background-size: 130px 36px;
      float: left;
      font-size: 0.7rem;
      text-align: center;
      line-height: 1.3rem;
      padding-top: 5px;
      margin-right: 10px;
      margin-bottom: 10px;
      width: auto;
      min-width: 130px;
      height: 36px;
    }
    dl {
      margin-bottom: $global-margin;
    }
    dt {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: $global-margin / 3;
    }
    dd {
      margin-bottom: $global-margin / 3;
    }
    .blockquote {
      position: relative;
      max-width: 95%;
      margin-left: 5%;
      padding: 30px 15px 20px 15px;
      border-left: 0.4em solid;
      // background-color: rgba($color: $text-color, $alpha: .01);
      border-color: rgba($color: $text-color, $alpha: 0.1);

      &:before {
        font-family: 'Sanchez', serif;
        font-size: 4rem;
        line-height: 1rem;
        color: rgba($color: $text-color, $alpha: 0.1);
        content: '\201C';
        position: absolute;
        top: 13px;
        left: 10px;
      }
      &:after {
        font-family: 'Sanchez', serif;
        line-height: 1rem;
        color: rgba($color: $text-color, $alpha: 0.1);
        content: '\201D';
        position: absolute;
        bottom: -25px;
        right: 20px;
        font-size: 4rem;
        font-style: italic;
      }
      footer {
        margin-top: 15px;
        font-size: 0.8rem;
        font-style: italic;
        text-align: right;
      }
    }
  }
  // lang
  .lang-change {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 10px;
  }
  .lang-change span {
    cursor: pointer;
    padding: 2px;
    text-decoration: underline;
  }
  .lang-change span:nth-child(even) {
    margin-left: 10px;
  }
  // cover
  .cover {
    margin-bottom: $global-margin;
  }
}

// safari
_::-webkit-full-page-media,
_:future,
:root .back-btn {
  right: 10px;
}
// firefox
.contents {
  scrollbar-color: #2d2f3b #43465a;
}

////////////////////
// float
////////////////////
.float-left {
  float: left;
}
////////////////////
// float
////////////////////

////////////////////
// media screen sm
////////////////////
@media screen and (max-width: $sm) {
  .header {
    padding: $sm-global-padding;
    height: 80px;
    .nav {
      right: $sm-global-margin;
    }
  }
  .contents__inner {
    padding: $global-margin $sm-global-padding;
  }
  .contents {
    .back-btn {
      bottom: 50px;
      font-size: 0.7rem;
      padding: 30px 2px;
    }
    .paragraph {
      li {
        margin-bottom: 5px;
      }
      li:nth-child(odd) {
        margin-right: 5px;
      }
    }
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
}
