@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,
body,
#root {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  letter-spacing: 2px;
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  overflow: hidden;
}
ul{ margin:0; padding: 0;}
li {
  list-style: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.index-footer-text{
  position: relative;
  z-index: 10;
  bottom: 10%;
  line-height: .9rem;
  padding: 0 15px;
  letter-spacing: 2px;
  left: 0;
  text-align: center;
  font-size: .8rem;
  color: rgba($color: #ffffff, $alpha: .8);
}
.canvas{
  height: 100%;
}

////////////////////
// header
////////////////////
.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  height: 60px;
  width: 100%;
  z-index: 100;
  color: #fff;
  font-size: 12px;
  h1 {
    font-size: 12px;
    float: left;
  }
  .nav {
    position: absolute;
    top: 20px;
    right: 20px;
    li {
      float: left;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}
////////////////////
// loader
////////////////////
.loader-container {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $primary-color;
  &__inner{
    padding: $sm-global-padding;
    .loader-img{
      width: 25px;
    }
  }
}


////////////////////
// scroll
////////////////////
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
background-color: rgba(255, 255, 255, .3);
}

////////////////////
// contents
////////////////////
.contents {
  // background: #43465a;
  margin-top: $global-margin / 2;
  background: rgba($primary-color, 1);
  color: rgba($color: #ffffff, $alpha: 1);
  position: fixed;
  left: 0;
  line-height: 2rem;
  z-index: 99;
  width: 100%;
  height: 100%;
  white-space: pre-line; // i18n
  .scroll-area {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  // inner
  &__inner {
    height: 100%;
    padding: 100px;
    max-width: $max-width;
    margin: 0 auto;
  }
  &__title {
    display: inline-block;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: $global-margin;
    // background: -webkit-linear-gradient(-40deg, #64cdc7, #ffbce0);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
  &__footer {
    margin-bottom: 30px;
    height: 30px;
  }
  .back-btn {
    position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    bottom: 70px;
    right: 0px;
    font-size: .7rem;
    writing-mode: vertical-rl;
    padding: 25px 5px;
    background: #fff;
    color: #43465a;
    cursor: pointer;
  }
  // paragraph
  .paragraph {
    margin-bottom: $global-margin;
    &__title {
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 1.2rem;
      margin-bottom: $global-margin / 3;
    }
    p,ul,dl {
      font-weight: normal;
      font-size: 1rem;
    }
    li {
      background: url(../images/list_box.png) no-repeat;
      float: left;
      font-size: .7rem;
      text-align: center;
      line-height: 1.4rem;
      padding-top: 5px;
      margin-left: 10px;
      margin-bottom: 10px;
      width: auto;
      min-width: 140px;
      height: 40px;
    }
    dl {
      margin-bottom: $global-margin;
    }
    dt {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 15px;
    }
    dd {
      margin-bottom: $global-margin / 3;
    }
  }
  // lang
  .lang-change {
    font-size: 1rem;
  }
  .lang-change span {
    cursor: pointer;
    padding: 2px;
    text-decoration: underline;
  }
  .lang-change span:nth-child(even) {
    margin-left: 10px;
  }
  // cover
  .cover {
    margin-bottom: $global-margin;
  }
}


.blockquote{
  position: relative;
  max-width: 95%;
  margin-left: 5%;
  padding: 30px 15px 8px 15px;
  border-left: 0.2em solid;
  border-color: rgba($color: $active-color, $alpha: .5);
  &:before {
    font-family: 'Sanchez', serif;
    font-size: 1rem;
    color: rgba($color: #fff, $alpha: .1);
    line-height: 1.6rem;
    content: '\201C';
    position: absolute;
    top: 0.25em;
    left: 0.15em;
    font-size: 5em;
   }
  &:after {
    font-family: 'Sanchez', serif;
    color: rgba($color: #fff, $alpha: .1);
    content: '\201D';
    position: absolute;
    bottom: -15px;
    right: 0;
    font-size: 5em;
    font-style: italic;
  }
  footer {
    margin-top: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-size: .8em;
    font-weight: 700;
  }
}

// safari
_::-webkit-full-page-media, _:future, :root .back-btn {
  right: 10px;
}
// firefox
.contents {
  scrollbar-color: #2d2f3b #43465a;
}

////////////////////
// float
////////////////////
.float-left{
  float: left;
}
////////////////////
// float
////////////////////

.ml-1{margin-left: $small-margin;}
.ml-2{margin-left: $small-margin * 2;}
.ml-3{margin-left: $small-margin * 3;}
.mr-1{margin-right: $small-margin;}
.mr-2{margin-right: $small-margin * 2;}
.mr-3{margin-right: $small-margin * 3;}
.mt-1{margin-top: $small-margin;}
.mt-2{margin-top: $small-margin * 2;}
.mt-3{margin-top: $small-margin * 3;}
.mb-1{margin-bottom: $small-margin;}
.mb-2{margin-bottom: $small-margin * 2;}
.mb-3{margin-bottom: $small-margin * 3;}

////////////////////
// media screen sm
////////////////////
@media screen and (max-width: $sm) {
  .header {
      padding: $sm-global-padding;
      .nav {
        right: $sm-global-margin;
      }
  }
  .contents__inner{
      padding: 80px $sm-global-padding;
  } 
}