@import url('https://fonts.googleapis.com/css?family=Poppins:400,900');

body{
  overflow: hidden;
  margin:0;
  padding: 0;
}
canvas { 
	display: block; 
}

.world{
  position: absolute;
  width:100%;
  height:100%;
  background: #FF4066;
}

